<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register"  method="post">
       <input type="text" placeholder="entername" value="" name="firstname"/><br>
       <input type="text" placeholder="enterlname" value="" name="lastname"/><br>
       <input type="email" placeholder="enteremail" value="" name="email"/><br>
       <input type="number" placeholder="phoneno" value="" name="phone"/><br>
       <input type="password" placeholder="enterpass" value="" name="password"/><br>
       <input type="submit" value="Register"/>
    </form>
</body>
</html>